In [8]:
#1.creating my list
mylist=[10,20,30,'apple',True,8,10]
print(mylist)
mylist.append(30)
mylist.append(40)
print(mylist)
reversedlist=mylist[::-1]
print(reversedlist)

[10, 20, 30, 'apple', True, 8, 10]
[10, 20, 30, 'apple', True, 8, 10, 30, 40]
[40, 30, 10, 8, True, 'apple', 30, 20, 10]

In [34]:
#2.creating a dictionary
mydict={1:'data',2:'information',3:'text'}
print(mydict)
mydict.pop(3)
print(mydict)
mydict[3]='features'
print(mydict)
print(mydict[1])

{1: 'data', 2: 'information', 3: 'text'}
{1: 'data', 2: 'information'}
{1: 'data', 2: 'information', 3: 'features'}
data

In [35]:
#3.creating a tuple
my_tuple=(1,2,3,'apple','mango')
print(my_tuple)

(1, 2, 3, 'apple', 'mango')

In [39]:
#4.numeric_tuple
numeric_tuple=(10,20,30,40,50)
print(min(numeric_tuple))
r1=my_tuple+numeric_tuple
print(r1)
newdupli=my_tuple*2
print(newdupli)

10
(1, 2, 3, 'apple', 'mango', 10, 20, 30, 40, 50)
(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

In [41]:
#5.creating sets
set1={1,2,3,4,5}
print(set1)
set2={2,3,7,6,1}
print(set2)
un=set1.union(set2)
print(un)
inter=set1.intersection(set2)
print(inter)
diff=set1.difference(set2)
print(diff)

{1, 2, 3, 4, 5}
{1, 2, 3, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{4, 5}